*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: steelblue;
    width: 100vw;
    height: 10vh;

    
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
padding-top: 30px;
}


  @media screen and (max-width: 530px) {
  body{
      background-color: violet;
  }
    nav,
    ul {

      flex-direction: column;
      color: tomato;
    }


}
